<div class="page">
	<div class="pageContent">

	<form method="post" action="__URL__/insert/navTabId/{:strtoupper(CONTROLLER_NAME)}/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
		<div class="pageFormContent" layoutH="58">
			<div class="unit">
				<label>轮播图类型：</label>
				{:Helper("Form")->name('type')->option($types)->value(1)->render('radio');}
			</div>
			<div class="unit">
				<label>对应类型的ID：</label>
				<input type="text" class="required" value="{$vo.fid}" name="fid" placeholder="ID" size="60">
			</div>
			<div class="unit">
				<label>轮播图标题：</label>
				<input type="text" class="required" value="{$vo.name}" name="name" placeholder="30字以内" size="60">
			</div>
			<div class="unit">
				<label>轮播图权重：</label>
				<input type="text" class="required numeric" value="{$vo.weight}" name="weight" placeholder="请使用正整数">
			</div>
			<div class="unit">
				<label>轮播图片：</label>
				<input style="width:250px" class="" type="text" name="pic" value="" id="identify" readonly placeholder="文件名"/>
				<a class="btnAttach" id="uploadAttachments" href="__URL__/uploader" lookupGroup="" width="560" height="300" title="附件">附件</a>
				<span class="info" style="cursor:pointer;" onclick="document.getElementById('uploadAttachments').click()">(点击上传文件，支持png、jpg)</span>
				<input type="hidden" name="img">
			</div>
			<div class="unit">
				<label>是否是内部链接(如果不是,不用选择)：</label>
				{:Helper("Form")->name('local_inner')->option($inner)->value('')->select();}
			</div>
			<div class="unit">
				<label>轮播图上下架：</label>
				{:Helper("Form")->name('status')->option($status)->value(1)->render('radio');}
			</div>
			<div class="unit">
				<label>渠道：</label>
				{:Helper("Form")->name('chn_id')->option($channels)->value("")->render('checkbox');}
			</div>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
	</div>
</div>

