<form id="pagerForm" action="__ACTION__" method="post">
	<input type="hidden" name="pageNum" value="{$_REQUEST.pageNum}"/>
	<input type="hidden" name="numPerPage" value="{$_REQUEST.numPerPage}" />
	<input type="hidden" name="orderField" value="{$_REQUEST.orderField}" />
	<input type="hidden" name="orderDirection" value="{$_REQUEST.orderDirection}" />
	<input type="hidden" name="do" value="{$_REQUEST.do}">
	<volist name="_search" key="name" id="field">
		<input type="hidden" name="_search[{$key}]" value="{$field|safe}"/>
	</volist>
	<input type="hidden" name="account" value="{$_REQUEST.account}"/>
</form>

<div class="page">
	<div class="pageHeader">
		<form onsubmit="return navTabSearch(this);" action="__URL__/" method="post">
		<input type="hidden" name="pageNum" value="{$_REQUEST.pageNum}"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>渠道名：</label>
					<input type="text" name="_search[name]" value="{$_search.name}"/>
				</li>
				<li>
					<label>渠道中文名：</label>
					<input type="text" name="_search[cname]" value="{$_search.cname}"/>
				</li>
				<li>
					<label>渠道ID：</label>
					<input type="text" name="_search[id]" value="{$_search.id}"/>
				</li>
				<div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
			</ul>
		</div>
		</form>
	</div>

	<div class="pageContent">
		<div class="panelBar">
			<ul class="toolBar">
				<li><a class="add" href="__URL__/add" target="dialog" width="700" heigth="500" mask="true"><span>新增</span></a></li>
				<li class="line">line</li>
				<li><a class="edit" href="__URL__/edit/id/{sid_user}" width="700" heigth="500" target="dialog" mask="true" warn="请选择操作对象"><span>编辑</span></a></li>
				<li class="line">line</li>
				<li><a class="delete" href="__URL__/delete/id/{sid_user}/navTabId/{sid_user}" target="ajaxTodo" title="你确定要删除吗？" warn="请选择用户"><span>删除</span></a></li>
				<li class="line">line</li>
				<li><a class="delete" href="{:U('Strategy/massedit')}" target="navTab" rel="STRATEGY"s mask="true"><span>批量修改渠道配置</span></a></li>
				<li class="line">line</li>
			</ul>
		</div>
		<table class="list" width="100%" layoutH="138">
			<thead>
			<tr>
				<th>ID</th>
				<th>渠道名</th>
				<th>hash</th>
				<th>中文名称</th>
                <th>数据比例</th>
				<th>添加时间</th>
				<th>操作员</th>
				<th>备注</th>
				<th>状态</th>
				<th>操作</th>
				<th>查看配置</th>
			</tr>
			</thead>
			<tbody>
			<volist id="vo" name="list">
				<tr target="sid_user" rel="{$vo['id']}">
					<td>{$vo['id']}</td>
					<td>{$vo['name']}</td>
					<td>{$vo['hash']}</td>
					<td>{$vo['cname']}</td>
                    <td>{$vo['ratio_show']|default=100}%， {$vo['ratio_click']|default=100}%， {$vo['ratio_sharing']|default=100}%</td>
					<td>{$vo['create_at']|date="Y-m-d H:i:s",###}</td>
					<td>{:D("Admin")->where(array("id"=>$vo['admin_id']))->getField('nickname')}</td>
					<td>{$vo['mark']}</td>
					<td>{$vo['status']|getStatus=$vo['id']}</td>
					<td>{$vo['status']|showStatus=$vo['id']}</td>
					<td>
						<a href="{:U('Strategy/index', array('channel_id'=>$vo['id'],'channel_name'=>$vo['name']))}" target="navTab" rel="STRATEGY" width="600" height="450" mask="true">查看配置项</a>
					</td>
				</tr>
			</volist>
			</tbody>
		</table>

		<div class="panelBar">
			<div class="pages">
				<span>显示</span>
				<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
					<option value="10" <eq name="numPerPage" value="10">selected</eq>>10</option>
					<option value="20" <eq name="numPerPage" value="20">selected</eq>>20</option>
					<option value="50" <eq name="numPerPage" value="50">selected</eq>>50</option>
					<option value="100" <eq name="numPerPage" value="100">selected</eq>>100</option>
					<option value="200" <eq name="numPerPage" value="200">selected</eq>>200</option>
				</select>
				<span>共{$totalCount}条</span>
				
			</div>
			
			<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
		</div>

	</div>
	
</div>