<form id="pagerForm" action="__URL__" method="post">
    <input type="hidden" name="pid" value="{$_REQUEST.pid}"/>
    <input type="hidden" name="pageNum" value="{$_REQUEST.pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$_REQUEST.numPerPage}" />
    <input type="hidden" name="orderField" value="{$_REQUEST.orderField}" />
    <input type="hidden" name="orderDirection" value="{$_REQUEST.orderDirection}" />
    <input type="hidden" name="do" value="{$_REQUEST.do}">
    <volist name="_search" key="name" id="field">
        <input type="hidden" name="_search[{$key}]" value="{$field|safe}"/>
    </volist>
</form>

<div class="page">
    <div class="pageHeader">
        <form onsubmit="return navTabSearch(this);" action="__URL__/index" method="post">
            <div class="searchBar">
                <ul class="searchContent">
                    <li>
                        <label>Uid：</label>
                        <input type="text" name="_search[uid]" class="medium" value="{$_search.uid}">
                    </li>
                    <li>
                        <label>状态：</label>
                        {:Helper("Form")->name('_search[tid]')->option($task_type)->value($_search['tid'])->select();}
                    </li>
                    <li>
                        <label>渠道：</label>
                        <input type="text" name="_search[channel]" class="medium" value="{$_search.channel}">
                    </li>
                    <li>
                        <label>查询开始时间:</label>
                        <input type="text" name="_search[start_time]"   value="{$_search.start_time}" class="date textInput readonly" readonly="true">
                        <a class="inputDateButton" href="javascript:;">选择</a>
                    </li>
                    <li>
                        <label>查询结束时间:</label>
                        <input type="text" name="_search[end_time]" value="{$_search.end_time}" class="date textInput readonly" readonly="true">
                        <a class="inputDateButton" href="javascript:;">选择</a>
                    </li>

                    <div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
                </ul>
            </div>
        </form>
    </div>

    <div class="pageContent">
        <div class="panelBar">
            <div class="panelBar">
                <ul class="toolBar">
                </ul>
            </div>
        </div>
        <table class="list" width="100%" layoutH="138">
            <thead>
            <tr>
                <th width="60">ID</th>
                <th width="100">UUID</th>
                <th width="150">任务名称</th>
                <th width="150">奖励</th>
                <th width="150">渠道</th>
                <th width="150">添加时间</th>
            </tr>
            </thead>
            <tbody>
            <volist id="vo" name="list">
                <tr target="sid_node" rel="{$vo['id']}">
                    <td>{$vo['id']}</td>
                    <td>{$vo['devid']}</td>
                    <td>{$vo['name']}</td>
                    <php>
                        if($vo['type'] == 1){
                        $num = $vo['num'].'小时';
                        }else{
                        $num = $vo['num'].'金币';
                        }
                    </php>
                    <td>{$num}</td>
                    <td>{$vo['channel']}</td>
                    <td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>

                </tr>
            </volist>
            </tbody>
        </table>

        <div class="panelBar">
            <div class="pages">
                <span>显示</span>
                <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                    <option value="10" <eq name="numPerPage" value="10">selected</eq>>10</option>
                    <option value="20" <eq name="numPerPage" value="20">selected</eq>>20</option>
                    <option value="50" <eq name="numPerPage" value="50">selected</eq>>50</option>
                    <option value="100" <eq name="numPerPage" value="100">selected</eq>>100</option>
                    <option value="200" <eq name="numPerPage" value="200">selected</eq>>200</option>
                </select>
                <span>共{$totalCount}条</span>
            </div>
            <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
        </div>
    </div>
</div>
