/Data/
Logs/
Runtime/
.settings/
.DS_Store
.project
.metadata
*.properties
.classpath
.settings/
.loadpath
.buildpath
*.swp
/vendor/
composer.lock
Public/Uploads
document/php_doc_cache/
document/php_doc_build/
.idea/
dump.rdb


