<form id="pagerForm" action="__ACTION__" method="post">
	<input type="hidden" name="pageNum" value="{$_REQUEST.pageNum}"/>
	<input type="hidden" name="numPerPage" value="{$_REQUEST.numPerPage}" />
	<input type="hidden" name="orderField" value="{$_REQUEST.orderField}" />
	<input type="hidden" name="orderDirection" value="{$_REQUEST.orderDirection}" />
	<input type="hidden" name="do" value="{$_REQUEST.do}">
	<volist name="_search" key="name" id="field">
		<input type="hidden" name="_search[{$key}]" value="{$field|safe}"/>
	</volist>
	<input type="hidden" name="account" value="{$_REQUEST.account}"/>
</form>

<div class="page">
	<div class="pageHeader">
		<form onsubmit="return navTabSearch(this);" action="__URL__/" method="post">
		<input type="hidden" name="pageNum" value="{$_REQUEST.pageNum}"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>渠道名：</label>
					<input type="text" name="_search[name]" value="{$_search.name}"/>
				</li>
				<li>
					<label>渠道中文名：</label>
					<input type="text" name="_search[cname]" value="{$_search.cname}"/>
				</li>
                <div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
			</ul>
		</div>
		</form>
	</div>

	<div class="pageContent">
		<div class="panelBar">
			<ul class="toolBar">
				<li><a class="add" href="__URL__/add/channel_id/{sid_user}" target="navTab" mask="true"><span>管理运营人员</span></a></li>
			</ul>
		</div>
		<table class="list" width="100%" layoutH="138">
			<thead>
			<tr>
				<th>ID</th>
				<th>渠道名</th>
				<th>中文名称</th>
				<th>添加时间</th>
				<th>操作员</th>
				<th>备注</th>
				<th>运营人员数量</th>
				<th>操作</th>
			</tr>	
			</thead>
			<tbody>
			<volist id="vo" name="list">
				<tr target="sid_user" rel="{$vo['id']}">
					<td>{$vo['id']}</td>
					<td>{$vo['name']}</td>
					<td>{$vo['cname']}</td>
					<td>{$vo['create_at']|date="Y-m-d H:i:s",###}</td>
					<td>{:D("Admin")->where(array("id"=>$vo['admin_id']))->getField('nickname')}</td>
					<td>{$vo['mark']}</td>
					<td>{:D("SysChannelAdmin")->where(array("channel_id"=>$vo['id']))->count()+0}</td>
					<td><a class="add" href="__URL__/add/channel_id/{$vo['id']}" target="navTab" rel="channel_add_admin_{$vo['id']}" mask="true" title="{$vo['cname']}运营人员"><span>管理运营人员</span></a></td>
				</tr>
			</volist>
			</tbody>
		</table>

		<div class="panelBar">
			<div class="pages">
				<span>显示</span>
				<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
					<option value="10" <eq name="numPerPage" value="10">selected</eq>>10</option>
					<option value="20" <eq name="numPerPage" value="20">selected</eq>>20</option>
					<option value="50" <eq name="numPerPage" value="50">selected</eq>>50</option>
					<option value="100" <eq name="numPerPage" value="100">selected</eq>>100</option>
					<option value="200" <eq name="numPerPage" value="200">selected</eq>>200</option>
				</select>
				<span>共{$totalCount}条</span>
				
			</div>
			
			<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
		</div>

	</div>
	
</div>